body, html {
	margin: 0;
	background-color: #8c0e0e;
	color: white;
}

#headerWrapper {
	width: 800px;
	position: relative;
	margin: 0.5em auto 0 auto;
}

#contentWrapper {
	width: 800px;
	background-color: white;
	margin: 0 auto;
}

#footerWrapper {
	text-align: center;
	width: 800px;
	margin: 0 auto;
}

#logo {
	width: 300px;
	display: inline-block;
	margin: 0;
	padding: 0;
}

#flapper {
	display: inline-block;
	position: absolute;
	width: 500px;
	margin: 0;
	padding: 0;
	bottom: 0;
	right: 0;
}

.head {
	bottom: 0;
	float: right;
}

.triangle {
	border-bottom: 150px solid white;
	border-left: 150px solid transparent;
}

.flap {
	height: 150px;
	background-color: white;
	border-radius: 0 3em 0 0; 
	width: 350px;
}

.content {
	padding: 1em 3em;
	margin:0;
}